<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
	<%= f.label :username, "Username" %>
	<%= f.text_field :username %>
	<br>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %>
	<br>
	<%= f.label :password, "Password" %>
	<%= f.password_field :password %>
	<br>
	<%= f.label :password_confirmation, "Password Confirmation" %>
	<%= f.password_field :password_confirmation %>
	<br>
	<%= f.submit "Submit", :disable_with => 'Submiting...', :class => 'btn' %>
<% end %>

